@using VisordeRickyMorty.Models;
<h3>Tarjeta de personaje:</h3>
<div class="card shadow-sm" style="width: 18rem;">
	<img src="@character.Image" class="card-img-top" alt="@character.Name" />
	<div class="card-body text-center">
		<h4 class="card-title">Nombre: @character.Name</h4>
		<p class="card-text text-muted">Estado: @character.Status</p>
		<p class="card-text text-muted">Especie: @character.Species</p>
		<div class="d-flex justify-content-center gap-2 mb-2">
			<button @onclick="Like">Like</button>
			<button @onclick="Dislike">Dislike</button>
		</div>
		<p class="fw-bold">Puntaje: @Score</p>
	</div>
</div>
@code {
	[Parameter] public Character character { get; set; }
	private int Score { get; set; } = 0;
	void Like() => Score++;
	void Dislike() => Score--;


}
